@import url("styles/header.css");

:root{
    --cor-de-fundo: #c569ce;
    --branco:#c569ce;
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
    --rosa: #ffcef7;
    --roxo: #ffcef7;
}
body{
    background-color: var(--cor-de-fundo);
}
h1{
    background-color: rgb(255, 255, 255);
}